:root {
  --bg-right-color: #262626;
  --bg-left-color: #262626;
  --cell-color: #D9D9D9;
  --h1-color: #D9D9D9;
  --p-color: #F2F2F2;
  --a-hover-color: #595959;
  --a-color: #A6A6A6;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.left {
  left: 0;
  background-color: var(--bg-left-color);
}

.right {
  right: 0;
  background-color: var(--bg-right-color);
}

.centered {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: left;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: var(--h1-color);
  margin: 1em 0;
}

a {
  color: var(--a-color);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: bold;
  color: var(--a-hover-color);
}

p {
  font-family: 'Merriweather', serif;
  color: var(--p-color);
  margin: .5em 0
}
